h1 {
    color: #13adb5;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #13adb5;/*上線*/
    border-bottom: solid 3px #13adb5;/*下線*/
}

h2 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #13adb5;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

h3 {
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px black;
}

.wy-side-nav-search {
    background-color: #13adb5; /* サイドバー検索の背景色 */
}

a {
    color: #13adb5; /* リンクの色 */
}

a:hover {
    color: #13adb5; /* リンクのホバー時の色 */
}